.ssh

configstore
psysh

# Fisher
fish/fishfile
fish/functions/fisher.fish
fisher
# oh-my-fish/plugin-peco
fish/functions/peco_kill.fish
fish/functions/peco_select_history.fish
# Misc packages
fish/completions

# Karabiner-Elements
karabiner/automatic_backups

# Spacemacs
spacemacs/snippets/*/work

# Chromebook(Crostini)
cros-garcon.conf
pulse
weston.ini
